nav {
    background-color: rgb(142, 187, 233);
    text-align:justify;
    padding: 30px;
    color:black;
    font-size: 10px;
    margin: 10px;
    font-family: serif;
    text-transform: capitalize;
}

.acerca_de {
    font-size: 10px;
}

p {
    font-size: bold;
}

.acerca_de.title {
    font-size: 5px;
}