<p>
<nav>
    <div class="acerca_de">
        <h6>Pequeña aplicación web desarrollada con Angular</h6>
        <h6>
            Cuenta con un buscador de Gif basado en palabras clave introducidas en una caja de texto
            por medio del servicio <a href = "https://developers.giphy.com" style="color: darkslateblue;">https://developers.giphy.com</a> y sus API. Cuenta con un historial de busqueda reciente que almacena palabras recientemente utilizadas.
        </h6>
    </div>
    <div class="title">
        <h6>Desarrollador - Amilder Ospina Tobón</h6>
    </div>
    <div class="mail">
        <h6>Correo Electrónico - <a href = "amilder.ospina@outlook.com" style="color: darkslateblue;">amilder.ospina@outlook.com</a></h6>
    </div>
    <div class="contacto">
        <h6>Contacto - +57 3013070993</h6>
    </div>
<nav>
